*{
    margin:0;
    padding:0;
    border:0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
               Arial, sans-serif;
}
.top{
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    width:100%;
    height:550px;
    font-size:3em;
    font-weight:900px;
    color:rgb(255, 255, 255);
    text-indent: 7vw;
    line-height: 500px;
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.5);
    font-family: 'Bebas Neue', serif;
}
nav{
    background-color: rgba(22, 173, 238, 0.5);
    text-align: center;
}
nav a{
    display:inline-block;
    width:210px;
    height:60px;
    font-size:30px;
    color: black;
    text-decoration:none;
    padding:0 50px;
    line-height: 60px;
    border-width:3px;
    border-style:dotted;
    border-color:rgba(0, 0, 255,0.3);
}
nav a:hover{
    color:aliceblue;
    background-color: rgba(0, 0, 255,0.3);
    border-radius: 20%;
    box-shadow:10px 10px 40px 10px rgba(0,0,0,0.3)
}
main{
    font-size: 2em;
    font-weight: bold;
    color: rgb(13, 47, 169);
    text-align: center;
}
.part{
color: rgb(255, 0, 0);
font-size: 40px;
}
footer{
    display: block;
    width: 100%;
    height:auto;
    text-align:center;
    font-weight: bold;
    line-height: 20px;
    background-color:rgba(91, 222, 255,0.3);
    height: 50px;
    line-height:50px;
    font-family: 'Lobster', serif;
}
dl{
    background-color: rgba(0, 98, 255, 0.3);
    width:50%;
    padding: 70px 0px;
    display :block;
    float:left;
}
dt{
    font-weight:700ox;
    font-size: 2em;
    text-align:center;
}
dd{
    font-size: 30px;
} 
.top3{
    background-position: center center;
    background-size:cover;
    height:500px;
}
.box1{
    background-color: rgba(0, 255, 255,0.3);
    font-size: 30px;
    color: rgb(36, 24, 8);
}
.checkup{
    font-size: 50px;
    font-weight: lighter;
    background-color: rgba(126, 255, 255,0.3);
    color:red;
    width: 25vw;
    height:50vh;
    float:left;
}
.checkup li{
    text-align: center;
    color: rgb(10, 16, 21);
    font-size: 30px;
}
.reason{
    color:red;
    font-size: 50px;
    font-weight: lighter;
    background-color: rgba(126, 255, 255,0.3);
    width: 25vw;
    height:50vh;
    float:right;
}
.reason li{
    text-align: center;
    color:rgb(24, 19, 12);
    font-size:30px;
}
.box3{
    width:45vw;
    height:50vh;
}
.top2{
    width:100%;
    height:625px;
    background-size: cover;
    border:0;
    margin: 0;
    padding:0;
}
.lead{
    float:right;
    width:300px;
    height:500px;
    margin-right: 40px;

}
.lead a{
    display:block;
    background-color: rgba(7, 152, 255, 0.5);
    font-weight:700px;
    width:350px;
    height:75px;
    line-height:75px;
    text-decoration: none;
    color:black;
    text-align: center;
    font-size:3em;
    padding:40px 0;
}
.lead a:hover{
    color:white;
    background-color: aquamarine;
    box-shadow:10px 10px 40px 10px rgba(0,0,0,0.3)
}
h1{
    font-weight: 900;
    font-size: 4em;
    text-align:center;
    color:blue;
    font-family: 'Bebas Neue', serif;
}
.contant{
    width:300px;
    height:400px;
    margin-left: auto;
    margin:auto;
    background-color: rgba(63, 255, 255,0.3);
    border-radius: 50%;
}
.contant p{
    font-size:3em;
    text-align:center;
    font-weight:bold;
}
.connect{
    background-color: aliceblue;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 200px;
}
.connect a{
    color: aquamarine;
    text-decoration: none;
}
.docter{
    width:100%;
    height:50vh;
}
.text1 dl{
    float:left;
    width:50%;
    height:50vh;
    padding: 0;
    border: 0;
}
.staff1 img{
    float:right;
    width:50%;
    height:50vh;
}
.text2 dl{
    float:left;
    width:50%;
    height:50vh;
    padding: 0;
    border: 0;
}
.staff2 img{
    float:right;
    width:50%;
    height:50vh;
}
.text3 dl{
    float:left;
    width:50%;
    height:50vh;
    padding: 0;
    border: 0;
}
.staff3 img{
    float:right;
    width:50%;
    height:50vh;
}
.text4 dl{
    float:left;
    width:50%;
    height:50vh;
    padding: 0;
    border: 0;
}
.staff4 img{
    float:right;
    width:50%;
    height:50vh;
}
.title2{
    font-weight:bolder;
    font-size: 2em;
    margin: 550px 0;
    text-indent: 3em;
    color: black;
}
.left{
    float:left;
    width:30vw;
    height:60vh;
}
.right{
    float:right;
    width:30vw;
    height:60vh;
}
.bighistory{
    width:100%;
    height:60vh;
    display:inline-block;
}
.history{
    width: 35vw;
    height: 60vh;
    background-color: rgba(133, 255, 214,.7);
    font-size: 20px;
    font-weight:bold;
    float: left;
    margin-left: 2vw;
}
.history p{
    margin-top:60px;
}
.thing li{
    text-align: center;
    font-size: 20px;
    color:rgb(0, 119, 255);
    line-height: 30px;
}
@media screen and (max-width:1112px){
    nav{
    background-color: rgba(22, 173, 238, 0.5);
    text-align: center;
}
nav a{
    display:inline-block;
    width:140px;
    height:60px;
    font-size:20px;
    color: black;
    text-decoration:none;
    padding:0 50px;
    line-height: 60px;
    border-width:3px;
    border-style:dotted;
    border-color:rgba(0, 0, 255,0.3);
}
nav a:hover{
    color:aliceblue;
    background-color: rgba(0, 0, 255,0.3);
}
}
@media screen and (max-width:414px){
    .top{
        font-size: 2em;
        color:black;
    }
    .title{
        margin-left: 5vw;
    }
}
@media screen and (max-width:900px){
    .docter{
        width:100%;
        height:50vh;
        float:left;
    }
    dt{
        font-size: 1em;
    }
    dd{
        font-size: 10px;
    }
    .staff1 img{
        display :block;
        width:100%;
        height:25vh;
    }
    .text1 dl{
        display: block;
        width:100%;
        height:25vh;
    }
    .staff2 img{
        display :block;
        width:100%;
        height:25vh;
    }
    .text2 dl{
        display: block;
        width:100%;
        height:25vh;
    }
    .staff3 img{
        display :block;
        width:100%;
        height:25vh;
    }
    .text3 dl{
        display: block;
        width:100%;
        height:25vh;
    }
    .staff4 img{
        display :block;
        width:100%;
        height:25vh;
    }
    .text4 dl{
        display: block;
        width:100%;
        height:25vh;
    }
}
@media screen and (width:320px) and (height:568px){
    .top{
        font-size: 1em;
    }
}
@media screen and (max-width:1112px) and (max-height:834px){
     .checkup,.reason{
        height:120vh;
     }
    .checkup li,.reason li{
        line-height:40px;
     }
     .box3{
        height:120vh;
     }
}
    

@media screen and (max-width:900px){
    .bighistory{
        display:block;
        width:100%;
        height:200vh;
    }
    .left img{
        float:left;
        width:100%;
        height:80vh ;
    }
    .right img{
        float:left;
        width:100%;
        height:80vh ;
    }
    .left{
        width:100%;
        height:80vh;
    }
    .right{
        width:100%;
        height:80vh;
    }
    .history{
        float:left;
        width:100%;
        height:80vh ;
    }
    .history p{
        margin-top: 10px;
    }
    .title2{
        font-size:1em;
    }
}
@media screen and (max-width:500px){
    .checkup,.reason,.box3{
         float: left;
         width: 100%;
         height:70vh;
         margin-bottom: 10vh;
    }
    .checkup li,.reason li{
        font-size: 20px;
    }
}
@media screen and (width:320px){
    .top{
        font-size: 20px;
    }
}
@media screen and (min-width:1000px) and (max-width:1120px){
    .history p {
        margin-top: 10px;
    }
}